.container {
	padding-top: 25px;
	width: 100%;
	height: 100%;
}

.sellForm {
	padding: 20px;
	width: 50%;
	height: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: lightgray;
}

.inputs {
	width: 100% !important;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
  
}
